[package]
name = "shared"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { workspace = true }
serde_bytes = { workspace = true }
serde_repr = { workspace = true }
bitcode = { workspace = true }
bytes = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
