[package]
name = "shared"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
serde_repr = "0.1"
bincode = "1.3"
bytes = "1.11"

[dev-dependencies]
serde_json = "1.0"
